<!DOCTYPE kpartgui>
<gui version="3" name="katekonsole" library="katekonsoleplugin">
 <MenuBar>
  <Menu name="tools">
   <text>&amp;Tools</text>
   <Action group="tools_operations" name="katekonsole_tools_pipe_to_terminal"/>
   <Action group="tools_operations" name="katekonsole_tools_sync"/>
   <Action group="tools_operations" name="katekonsole_tools_toggle_focus"/>
  </Menu>
 </MenuBar>
 <ActionProperties scheme="Default"/>
</gui>
