[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/chz/Desktop/三体2《黑暗森林》.epub]
row=1
col=0

[/home/chz/Desktop/三体3《死神永生》.epub]
row=2
col=0

[/home/chz/Desktop/三体1《地球往事》.epub]
row=0
col=0

[/home/chz/Desktop/三体（全集）.epub]
row=3
col=0

[/home/chz/Desktop/logical_gates1.png]
row=4
col=0

