[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/chz/Desktop/draft_body.png]
row=0
col=1

[/home/chz/Desktop/三体（全集）.epub]
row=7
col=0

[/home/chz/Desktop/3_through1.png]
row=3
col=0

[/home/chz/Desktop/whoami1.png]
row=4
col=1

[/home/chz/Desktop/whoami3.png]
row=3
col=1

[/home/chz/Desktop/4_through.png]
row=5
col=0

[/home/chz/Desktop/logical_gates1.png]
row=9
col=0

[/home/chz/Desktop/123_through.png]
row=1
col=1

[/home/chz/Desktop/3_through2.png]
row=8
col=0

[/home/chz/Desktop/whoami.png]
row=0
col=0

[/home/chz/Desktop/whoami2.png]
row=1
col=0

[/home/chz/Desktop/三体2《黑暗森林》.epub]
row=4
col=0

[/home/chz/Desktop/3p_through.png]
row=5
col=1

[/home/chz/Desktop/三体1《地球往事》.epub]
row=2
col=0

[/home/chz/Desktop/三体3《死神永生》.epub]
row=6
col=0

[/home/chz/Desktop/4_through2.png]
row=2
col=1

