[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/chz/Desktop/draft_body.png]
row=9
col=0

[/home/chz/Desktop/daminggong.png]
row=3
col=1

[/home/chz/Desktop/3_through1.png]
row=3
col=0

[/home/chz/Desktop/622762d0f703918f26c7aed1533d269759eec493.jpg]
row=2
col=0

[/home/chz/Desktop/2013拜年祭《平行 Parallel》 Feat.岚AYA 【H.K.君 X 钢羽】.mp3]
row=6
col=0

[/home/chz/Desktop/whoami1.png]
row=4
col=1

[/home/chz/Desktop/whoami3.png]
row=2
col=1

[/home/chz/Desktop/4_through.png]
row=5
col=0

[/home/chz/Desktop/4p_through.png]
row=4
col=0

[/home/chz/Desktop/logical_gates1.png]
row=7
col=0

[/home/chz/Desktop/123_through.png]
row=0
col=1

[/home/chz/Desktop/3_through2.png]
row=8
col=0

[/home/chz/Desktop/whoami.png]
row=0
col=0

[/home/chz/Desktop/whoami2.png]
row=1
col=0

[/home/chz/Desktop/daminggong-chrome.png]
row=6
col=1

[/home/chz/Desktop/3p_through.png]
row=5
col=1

[/home/chz/Desktop/4_through2.png]
row=1
col=1

