# https://gist.github.com/redguardtoo/d4ecd51f785bd117a6a0 for more
# NOTE: if the global name and email (~/.gitconfig) are different from those in a specific repo
# Please do `git config user.name "name"` and `git config user.email "mail@com"` in the repo
[user]
	email = cody.chan.cz@gmail.com
[credential]
	helper = cache --timeout 86400
[format]
	# Linux kernel developers will not accept a patch where the From email differs from the
	# Signed-off-by line, which is what will happen if these two emails do not match.
	signoff = true
[core]
	filemode = true
	#pager = less -iXFR -x4 -M
[merge]
#	tool = meld
	tool = nvim
[mergetool "nvim"]
	# cmd = nvim -f -c \"Gvdiffsplit!\" \"$MERGED\"
	# cmd = nvim -f -d \"$LOCAL\" \"$MERGED\" \"$REMOTE\"
	cmd = nvim -d $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'
[color]
	ui = true
[github]
	user = c02y
	token =
[push]
	default = current
[http]
	postBuffer = 524288000
	sslVerify = false
[pager]
	log  = diff-highlight | $PAGER
	show = diff-highlight | $PAGER
	diff = diff-highlight | $PAGER
	branch = $PAGER
	status = $PAGER
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	frag = magenta bold
	meta = yellow
	commit = yellow bold
	old = red bold
	whitespace = red reverse
	new = green bold
[submodule]
	recurse = true
[status]
	showStash = true
[credentialCache]
	ignoreSIGHUP = true
[pull]
	# https://ask.xiaolee.net/questions/1061863
	rebase = true
[http "https://github.com"]
	proxy = socks5://127.0.0.1:1080
	sslVerify = false
