# https://gist.github.com/redguardtoo/d4ecd51f785bd117a6a0 for more 
[user]
	name = c02y
	email = cody.chan.cz@gmail.com
[credential]
	helper = cache
[core]
	filemode = true
	pager = less -RM -TX -s
[gui]
	recentrepo = /home/chz/.emacs.d
#[merge]
#	tool = meld
[color]
	ui = true
[github]
	user = c02y
	token = 
[push]
	default = simple
[http]
	postBuffer = 524288000
