[user]
	name = codychan
	email = cody.chan.cz@gmail.com
[credential]
	helper = cache
[core]
	filemode = false
[gui]
	recentrepo = /home/chz/.emacs.d
#[merge]
#	tool = meld
[color]
	ui = auto
[github]
	user = codychan
	token = 
