*~
*.swp
*bak
*localdomain
cscope*
cgdb/.cgdb/readline_history.txt
/git/.ssh/known_hosts
/fish/.config/fish/fishd.*
/ranger/.config/ranger/history
/ranger/.config/ranger/bookmarks
/fish/.config/fish/fish_variables
ssh/.ssh/known_hosts
