*~
*.swp
*bak
*localdomain
# kde
kde/.kde/share/apps/okular/docdata
kde/.kde/share/apps/gwenview/recentfolders
kde/.kde/share/config/gwenviewrc
kde/.kde/share/apps/RecentDocuments
kde/.kde/share/apps/activitymanager/
kde/.kde/share/apps/kconf_update/
# vlc
vlc/.config/vlc/srpos.ini
vlc/.config/vlc/vlc-qt-interface.conf
#
xchat2/.config/xchat2/xchatlogs
cgdb/.cgdb/readline_history.txt
cairo-dock/.config/cairo-dock/current_theme/plug-ins/Clipper/Clipper.conf
xfce/.config/xfce4/xfconf/xfce-perchannel-xml/xfce4-desktop.xml
xfce/.config/xfce4/desktop/icons.screen0-1350x672.rc

vifm/.vifm/Trash
/vifm/.vifm/vifminfo
/git/.ssh/known_hosts
/fish/.config/fish/fishd.*
/ranger/.config/ranger/history
