# https://labs.consol.de/development/git/2017/02/22/gitignore.html
*~
*.swp
*bak
*localdomain
cscope*

fish/.config/fish/fishd.*
fish/.config/fish/fish_variables

ranger/.config/ranger/plugins/__init__.py
ranger/.config/ranger/plugins/__pycache__

ssh/.ssh/known_hosts
spacemacs/.spacemacs.d/.spacemacs.env

mpv/.config/mpv/watch_later
mpv/.config/mpv/playlists
mpv/.config/mpv/mpv-shot*.jpg
mutt/.mutt/cache
mutt/.mutt/passwords*
mutt/.mutt/tmp

lazygit/.config/lazygit/Dotfiles.d
lazygit/.config/lazygit/state.yml

lunarvim/.config/lvim/lazy-lock.json

yazi/.config/yazi/plugins

astronvim/.config/nvim/lazy-lock.json
