<!DOCTYPE kpartgui>
<gui version="3" name="katetextfilter" library="libkatetextfilterplugin">
 <MenuBar>
  <Menu name="tools">
   <text>&amp;Tools</text>
   <Action name="edit_filter"/>
  </Menu>
 </MenuBar>
 <ActionProperties scheme="Default"/>
</gui>
