<!DOCTYPE kpartgui SYSTEM 'kpartgui.dtd'>
<kpartgui version="67" name="KatePartView">
 <MenuBar>
  <Menu noMerge="1" name="file">
   <text>&amp;File</text>
   <Action group="save_merge" name="file_save"/>
   <Action group="save_merge" name="file_save_as"/>
   <Action group="revert_merge" name="file_reload"/>
   <Action group="print_merge" name="file_print"/>
   <Separator group="print_merge"/>
  </Menu>
  <Menu noMerge="1" name="edit">
   <text>&amp;Edit</text>
   <Action group="edit_undo_merge" name="edit_undo"/>
   <Action group="edit_undo_merge" name="edit_redo"/>
   <Separator group="edit_undo_merge"/>
   <Action group="edit_paste_merge" name="edit_cut"/>
   <Action group="edit_paste_merge" name="edit_copy"/>
   <Action group="edit_paste_merge" name="edit_paste"/>
   <Action group="edit_paste_merge" name="edit_paste_menu"/>
   <Separator group="edit_paste_merge"/>
   <Action group="edit_select_merge" name="edit_select_all"/>
   <Action group="edit_select_merge" name="edit_deselect"/>
   <Action group="edit_select_merge" name="set_verticalSelect"/>
   <Separator group="edit_select_merge"/>
   <Action group="edit_select_merge" name="view_vi_input_mode"/>
   <Action group="edit_select_merge" name="set_insert"/>
   <Separator group="edit_select_merge"/>
   <Action group="edit_find_merge" name="edit_find"/>
   <Menu group="edit_find_merge" name="edit_find_menu">
    <text>Find Variants</text>
    <Action group="edit_find_merge" name="edit_find_next"/>
    <Action group="edit_find_merge" name="edit_find_prev"/>
    <Action group="edit_find_merge" name="edit_find_selected"/>
    <Action group="edit_find_merge" name="edit_find_selected_backwards"/>
   </Menu>
   <Action group="edit_find_merge" name="edit_replace"/>
   <Separator group="edit_find_merge"/>
   <Action group="edit_find_merge" name="modified_line_up"/>
   <Action group="edit_find_merge" name="modified_line_down"/>
   <Action group="edit_find_merge" name="go_goto_line"/>
  </Menu>
  <Menu noMerge="1" name="view">
   <text>&amp;View</text>
   <Action group="view_operations" name="switch_to_cmd_line"/>
   <Action group="view_operations" name="switch_to_console"/>
   <Separator group="view_operations"/>
   <Action group="view_operations" name="view_schemas"/>
   <Separator group="view_operations"/>
   <Action group="view_operations" name="view_dynamic_word_wrap"/>
   <Action group="view_operations" name="dynamic_word_wrap_indicators"/>
   <Action group="view_operations" name="view_word_wrap_marker"/>
   <Separator group="view_operations"/>
   <Action group="view_operations" name="view_border"/>
   <Action group="view_operations" name="view_line_numbers"/>
   <Action group="view_operations" name="view_scrollbar_marks"/>
   <Action group="view_operations" name="view_scrollbar_minimap"/>
   <Action group="view_operations" name="view_scrollbar_minimap_all"/>
   <Separator group="view_operations"/>
   <Action group="view_operations" name="view_folding_markers"/>
   <Menu group="view_operations" name="codefolding">
    <text>&amp;Code Folding</text>
    <Action group="view_operations" name="folding_collapselocal"/>
    <Action group="view_operations" name="folding_expandlocal"/>
    <Action group="view_operations" name="folding_expandall"/>
    <Action group="view_operations" name="folding_collapse_dsComment"/>
    <Separator group="view_operations"/>
    <Action group="view_operations" name="folding_toplevel"/>
    <Action group="view_operations" name="collapse_level_2"/>
    <Action group="view_operations" name="collapse_level_3"/>
    <Action group="view_operations" name="collapse_level_4"/>
    <Separator group="view_operations"/>
    <Action group="view_operations" name="folding_expandtoplevel"/>
    <Action group="view_operations" name="expand_level_2"/>
    <Action group="view_operations" name="expand_level_3"/>
    <Action group="view_operations" name="expand_level_4"/>
   </Menu>
   <Separator group="view_operations"/>
   <Action group="view_operations" name="view_inc_font_sizes"/>
   <Action group="view_operations" name="view_dec_font_sizes"/>
  </Menu>
  <Action name="bookmarks"/>
  <Menu noMerge="1" name="tools">
   <text>&amp;Tools</text>
   <Action group="tools_operations" name="tools_toggle_write_lock"/>
   <Separator group="tools_operations"/>
   <Action group="tools_operations" name="tools_mode"/>
   <Action group="tools_operations" name="tools_highlighting"/>
   <Action group="tools_operations" name="tools_indentation"/>
   <Action group="tools_operations" name="set_encoding"/>
   <Action group="tools_operations" name="set_eol"/>
   <Action group="tools_operations" name="add_bom"/>
   <Separator group="tools_operations"/>
   <Action group="tools_operations" name="tools_scripts"/>
   <Separator group="tools_operations"/>
   <Action group="tools_operations" name="tools_invoke_code_completion"/>
   <Menu group="tools_operations" name="wordcompletion">
    <text>Word Completion</text>
    <Action name="doccomplete_fw"/>
    <Action name="doccomplete_bw"/>
    <Action name="doccomplete_sh"/>
   </Menu>
   <Separator group="tools_operations"/>
   <Menu group="tools_operations" name="spelling">
    <text>Spelling</text>
    <Action group="tools_operations" name="tools_toggle_automatic_spell_checking"/>
    <Action group="tools_operations" name="tools_spelling"/>
    <Action group="tools_operations" name="tools_spelling_from_cursor"/>
    <Action group="tools_operations" name="tools_spelling_selection"/>
    <Action group="tools_operations" name="tools_change_dictionary"/>
    <Action group="tools_operations" name="tools_clear_dictionary_ranges"/>
   </Menu>
   <Separator group="tools_operations"/>
   <Action group="tools_operations" name="tools_cleanIndent"/>
   <Action group="tools_operations" name="tools_align"/>
   <Separator group="tools_operations"/>
   <Action group="tools_operations" name="tools_comment"/>
   <Action group="tools_operations" name="tools_uncomment"/>
   <Separator group="tools_operations"/>
   <Action group="tools_operations" name="tools_uppercase"/>
   <Action group="tools_operations" name="tools_lowercase"/>
   <Action group="tools_operations" name="tools_capitalize"/>
   <Separator group="tools_operations"/>
   <Action group="tools_operations" name="tools_join_lines"/>
   <Action group="tools_operations" name="tools_apply_wordwrap"/>
   <Separator group="tools_operations"/>
   <Action group="tools_operations" name="tools_create_snippet"/>
   <Action group="tools_operations" name="tools_snippets"/>
  </Menu>
  <Menu noMerge="1" name="settings">
   <text>&amp;Settings</text>
   <Action group="configure_merge" name="set_confdlg"/>
  </Menu>
 </MenuBar>
 <ToolBar noMerge="1" name="mainToolBar">
  <text>Main Toolbar</text>
  <Action group="file_operations" name="file_save"/>
  <Action group="file_operations" name="file_save_as"/>
  <Action group="edit_operations" name="edit_undo"/>
  <Action group="edit_operations" name="edit_redo"/>
 </ToolBar>
 <Menu noMerge="0" name="ktexteditor_popup">
  <Action group="popup_operations" name="edit_cut"/>
  <Action group="popup_operations" name="edit_copy"/>
  <Action group="popup_operations" name="edit_paste"/>
  <Action group="popup_operations" name="edit_paste_menu"/>
  <Separator group="popup_operations"/>
  <Action group="popup_operations" name="edit_select_all"/>
  <Action group="popup_operations" name="edit_deselect"/>
  <Separator group="popup_operations"/>
  <Action group="popup_operations" name="spelling_suggestions"/>
  <Separator group="popup_operations"/>
  <Action group="popup_operations" name="bookmarks"/>
  <Separator group="popup_operations"/>
  <Action group="popup_operations" name="tools_create_snippet"/>
  <Separator group="popup_operations"/>
 </Menu>
 <ActionProperties>
  <Action shortcut="" name="edit_find_selected"/>
  <Action shortcut="" name="file_print"/>
 </ActionProperties>
</kpartgui>
