<!DOCTYPE kpartgui>
<gui version="3" name="kateopenheader" library="libkateopenheaderplugin">
 <MenuBar>
  <Menu name="file">
   <text>&amp;File</text>
   <Action group="open_merge" name="file_openheader"/>
  </Menu>
 </MenuBar>
 <ActionProperties scheme="Default"/>
</gui>
